* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#dice-result {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
#success-mail {
    padding: 20px;
    font-size: 35px;
    text-align: center;
}
#numeri {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}