* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#success-mail {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
#dice-result {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.hidden {
    display: none;
}
#numeri {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}